/* Fontes e estilo básico */
* {
    font-family: 'Noto Sans Japanese', cursive;
    font-weight: bold;
}

/* Layout básico da tela de login e home */
#tela-login, #home {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#tela-login.active, #home.active {
    display: block;
}

/* Dropdown para filtro */
#dropdown-filtro {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    background-color: #f1f1f1;
    color: black;
    padding: 12px 16px;
    text-align: left;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

/* Responsividade */

/* Viewport até 768px: layout vertical, uma coluna */
@media (max-width: 768px) {
    /* Página de Login */
    #tela-login, #home {
        margin-top: 10px;
        padding: 0 20px;
    }

    /* Container de atletas com uma coluna */
    #container {
        flex-direction: column;
        align-items: center;
    }
    #container > article {
        width: 100%;
    }

    /* Seleção de elenco com select em viewports menores */
    #dropdown-filtro {
        display: none;
    }
    #select-filtro {
        display: block;
        width: 100%;
        margin: 1rem auto;
    }
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0 10px;
    gap: 1rem; /* Espaçamento entre os itens */
}

/* Estilo dos artigos dentro do container */
#container > article {
    width: 20rem;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 1rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

#container h1 {
    font-size: 1.2rem;
    color: black;
    margin: 0.5rem 0;
}

#container p {
    padding: 0 1rem 1rem;
    color: #555;
}

#container img {
    width: 100%;
    border-radius: 5px;
}

/* Layout Responsivo */

/* Viewport até 768px: layout com uma coluna */
@media (max-width: 768px) {
    #container > article {
        width: 100%;
    }
}

/* Viewport de 769px a 1024px: layout com três colunas */
@media (min-width: 769px) and (max-width: 1024px) {
    #container {
        justify-content: space-around;
    }

    #container > article {
        width: 30%; /* Ajuste para 3 colunas */
    }
}

/* Viewport de 1025px a 1300px: layout com quatro colunas */
@media (min-width: 1025px) and (max-width: 1300px) {
    #container > article {
        width: 23%; /* Ajuste para 4 colunas */
    }
}

/* Viewport acima de 1300px: layout com cinco colunas */
@media (min-width: 1301px) {
    #container > article {
        width: 18%; /* Ajuste para 5 colunas */
    }
}
